.jumbotron-hero {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.carousel-content{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
