/* TODO update this if key stuff needs it */

.scope-row,
.key-row {
  cursor: pointer;
}

table {
  table-layout: fixed;
  width: 100%;
  overflow: scroll;
  word-wrap: break-word;
  word-break: break-all;
}
