.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: visible;
}

.Auth-form-container.dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.Auth-form-container.hidden {
  visibility: hidden;
}

.Auth-blackout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s linear;
}

.Auth-blackout.hidden {
  background-color: rgba(0, 0, 0, 0);
}

.Auth-form {
  max-height: 80vh;
  overflow: scroll;
  width: 420px;
  box-shadow: rgba(0, 0, 0, 0.312) 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin-top: 0%;
  transition: all;
  transition-duration: 0.5s;
}

.Auth-form.hidden {
  margin-top: 200vh;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.Auth-close {
  position: relative;
  top: 0px;
  left: 10px;
  cursor: pointer;
}

.Auth-error {
  color: red;
}

.Auth-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.link-primary {
  cursor: pointer;
}

/* lazy styling ik */
.verify-content {
  padding: 0 12% 12% 12%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.verify-content h2 {
  margin-bottom: 12%;
}
